[submodule "RPEngine/3dParty/spdlog"]
	path = RPEngine/3dParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "RPEngine/3dParty/GLFW"]
	path = RPEngine/3dParty/GLFW
	url = https://github.com/glfw/glfw
[submodule "RPEngine/3dParty/ImGui/src"]
	path = RPEngine/3dParty/ImGui/src
	url = https://github.com/ocornut/imgui
